/asset/vendor/
/build/
/language/debug.po
/language/debug.mo
/language/chef.po
/language/chef.mo
/node_modules/
/vendor/
/.phpunit.cache/
/.sass-cache/
/.settings/
/test/.phpunit.cache/
/test/.phpunit.result.cache
/tests/.phpunit.cache/
/tests/.phpunit.result.cache
.buildpath
.bundle
.cache
.DS_Store
.env
.env.local
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
.project
composer.phar
debug.log
